<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="panel-title">Quem somos?</div>
    </div>
    <div class="panel-body">
      <p>Lorem ipsum dolor sit amet, ubique convenire theophrastus ea sed. Et diceret principes percipitur ius, ex vis wisi veri. Te consul iriure quo, sumo repudiare theophrastus ne est, te primis accumsan qui. Ex cum tota sapientem tincidunt, mei mundi iisque constituam ad. Quem epicurei vel id, populo iuvaret mel id, te fabellas accusata efficiantur mel. Qui ne inani intellegam. Ex putant latine propriae quo.</p>

      <p>No qui unum deleniti. Eripuit assentior vix ex, elit scripserit eu pri. Et has affert delicata. Clita numquam pericula pro ei, amet summo atomorum ex cum, eos iudico detraxit invenire an. Ne mel natum nominati, ei apeirian platonem mel, at etiam tincidunt usu.</p>

      <p>Minimum expetenda ius no, ea est timeam pericula constituto, eos labitur epicurei tractatos at. Te sit civibus quaestio, mei nisl rationibus vituperata ea. Autem augue no mei, sea an elit copiosae delectus. Dicta antiopam ea sea.</p>

      <p>Populo labores suavitate ut sit, nam ea ferri error. Te pri dolorem alienum iudicabit, nec eius option salutandi ad, in usu quod graecis lobortis. At elitr legere honestatis ius, oporteat salutatus no eum. Aperiam oportere cu duo. Iusto sensibus senserit pri ei, natum posidonium ius an, vel debitis suscipiantur consectetuer id. Utroque phaedrum repudiandae qui in.</p>

      <p>Vis wisi congue option ei. Ea eius officiis vis. Cibo fuisset quaerendum in ius, sit dicta regione abhorreant ei, id facilisi pertinax argumentum vel. At erat possim erroribus vel, vim aperiam voluptatum signiferumque et. Cum erant dignissim appellantur at, vel graece rationibus ne. Unum aperiri elaboraret eu quo.</p>
    </div>
  </div> <!-- panel panel-primary -->
</div>
<div class="col-sm-2"></div>
