body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #483D8B;
  background-image: url("../images/logo_amarelo.png");
  background-color: #483D8B;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  background-size: 60% 40%;

  -webkit-animation-name: background-slide-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
}
.navbar {
  width: 60%;
  margin: 4em auto;
}

.navbar a {
  color: lightgray;
}
.solde-main {
  width: 100%;
  height: 100%;
}

.panel, .panel-body {
  background-color: lightgray;
}

.panel-primary > .panel-heading {
  background-color: gray;
}

.panel-primary {
  border-color: gray;
  box-shadow: 5px 3px 5px black;
}

.panel {
  min-height: 150%;
  -webkit-animation-name: background-slide-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
}

ul {
  -webkit-animation-name: nav-slide-in;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-in;
}

ul > li > a {
  transition: all 0.3s ease-in;
}

ul > li > a:hover {
  box-shadow: 3px 3px 5px white, -3px 3px 5px white, 3px -3px 5px white, -3px -3px 5px white;
  transform:scale(1.2,1.2);
  color: #000;
}

@-webkit-keyframes background-slide-in {
  from {
    background-position: 50%  bottom;
    opacity: 0;
  }
  to {
    background-position: right bottom;
    opacity: 1;
  }
}
.animate-enter, 
.animate-leave
{ 
  -webkit-transition: 900ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 900ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 900ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 900ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 900ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 

.animate-enter {
  left: 100%;
}
.animate-enter.animate-enter-active {
  left: 0;
}

.animate-leave {
  left: 0;
}
.animate-leave.animate-leave-active{
  left: -100%;
}
