body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #483D8B;
}
.navbar {
  width: 60%;
  margin: 6em auto;
}

.navbar a {
  color: lightgray;
}
.solde-main {
  width: 100%;
  height: 100%;
  background-image: url("../images/logo_amarelo.png");
  background-color: #483D8B;
  background-repeat: no-repeat;
  background-attach: fixed;
  background-position: right bottom;
  background-size: 60% 40%;

  -webkit-animation-name: background-slide-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
}

.panel, .panel-body {
  background-color: transparent;
  color: lightgray;
}

.panel-primary > .panel-heading {
  background-color: gray;
}

.panel-primary {
  border-color: gray;
  box-shadow: 5px 3px 5px black;
}

.panel {
  min-height: 500px;
}

@-webkit-keyframes background-slide-in {
  from {
    background-position: 50%  bottom;
    opacity: 0;
  }
  to {
    background-position: right bottom;
    opacity: 1;
  }
}
