body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #483D8B;
}
.navbar {
  width: 60%;
  margin: 4em auto;
}

.navbar a {
  color: lightgray;
}
.solde-main {
  width: 100%;
  height: 100%;
  background-image: url("../images/logo_amarelo.png");
  background-color: #483D8B;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  background-size: 60% 40%;

  -webkit-animation-name: background-slide-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
}

.panel, .panel-body {
  background-color: lightgray;
}

.panel-primary > .panel-heading {
  background-color: gray;
}

.panel-primary {
  border-color: gray;
  box-shadow: 5px 3px 5px black;
}

.panel {
  min-height: 50%;
  -webkit-animation-name: background-slide-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
}

ul {
  -webkit-animation-name: nav-slide-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
}

ul > li > a {
  transition: box-shadow 0.3s ease-in, padding 0.3 ease-in;
}

ul > li > a:hover {
  box-shadow: 3px 3px 5px white, -3px 3px 5px white, 3px -3px 5px white, -3px -3px 5px white;
  color: #000;
}

@-webkit-keyframes background-slide-in {
  from {
    background-position: 50%  bottom;
    opacity: 0;
  }
  to {
    background-position: right bottom;
    opacity: 1;
  }
}

@-webkit-keyframes nav-slide-in {
  from {
    top: -1900px;
  }
  to {
    top: 0;
  }
}
